@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.header {
  background: url('https://img3.akspic.ru/crops/8/2/4/7/3/137428/137428-kinoteatr-noch-teatralnoe_iskusstvo-poster-tanos-3840x2160.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  border-bottom: 7px solid rgb(0, 0, 0);
}

.main {
  padding: 50px 0px 100px 0px;

  background-color: #000000;
  background-image: url('https://www.transparenttextures.com/patterns/snow.png');

  &__content {
  }

  .decoration-vision {
    width: 41%;
    position: absolute;
    bottom: 10px;
    right: -270px;
    z-index: -1;

    animation: slide-wheel 4s linear infinite;
    animation-direction: alternate;

    @media screen and (max-width: $mediaExtraLarge) {
      width: 35%;
      right: -190px;
    }
    @media screen and (max-width: $mediaBig) {
      width: 32%;
      right: -149px;
    }
  }
  .decoration-falcon {
    width: 40%;
    position: absolute;
    top: 10px;
    left: -365px;
    z-index: -1;

    animation-duration: 3s;
    animation-name: slide-top;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @media screen and (max-width: $mediaExtraLarge) {
      width: 35%;
      left: -285px;
    }
    @media screen and (max-width: $mediaBig) {
      width: 30%;
      left: -208px;
    }
  }
  .decoration-iron-Man {
    width: 31%;
    position: absolute;
    top: -210px;
    right: -253px;
    z-index: -1;

    animation-duration: 4s;
    animation-name: slide-bottom;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @media screen and (max-width: $mediaExtraLarge) {
      width: 26%;
      right: -190px;
    }
    @media screen and (max-width: $mediaBig) {
      width: 24%;
      right: -150px;
    }
  }
  .decoration-spider-man {
    width: 35%;
    position: absolute;
    bottom: 73px;
    left: -386px;
    z-index: -1;

    @media screen and (max-width: $mediaExtraLarge) {
      width: 30%;
      left: -330px;
    }
    @media screen and (max-width: $mediaLarge) {
      width: 30%;
      left: -301px;
    }
    @media screen and (max-width: $mediaBig) {
      width: 24%;
      left: -229px;
    }
  }
}

.container {
  height: 100%;
  width: 100%;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;

  transition: all 0.5s ease;

  @media screen and (max-width: $mediaLarge) {
    max-width: 1050px;
  }
  @media screen and (max-width: $mediaBig) {
    max-width: 990px;
  }
  @media screen and (max-width: $mediaMediumWell) {
    max-width: 850px;
  }
}

.char-content {
  display: flex;
  position: relative;
  z-index: 10;
}

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(-0.5rem);
  }
}

@keyframes slide-wheel {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(-7rem);
  }
}

@keyframes slide-top {
  from {
    top: 10px;
  }

  to {
    top: -150px;
  }
}

@keyframes slide-bottom {
  from {
    // top: -210px;
    // right: -365px;
    transform: translateY(-2rem) translateX(3rem);
  }

  to {
    // top: -160px;
    // right: -195px;
    transform: translateY(5rem) translateX(-2rem);
  }
}
