@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.header {
  background: url('https://img3.akspic.ru/crops/8/2/4/7/3/137428/137428-kinoteatr-noch-teatralnoe_iskusstvo-poster-tanos-3840x2160.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  border-bottom: 7px solid rgb(0, 0, 0);
}

.main {
  padding: 50px 0px 100px 0px;

  background-color: #000000;
  background-image: url('https://www.transparenttextures.com/patterns/snow.png');

  &__content {
  }

  .decoration-vision {
    position: absolute;
    bottom: 10px;
    right: -175px;
    z-index: -1;

    animation: move-wheel 4s linear infinite;
    animation-direction: alternate;
  }
  .decoration-falcon {
    position: absolute;
    top: 10px;
    left: -365px;
    z-index: -1;

    animation-duration: 3s;
    animation-name: slide-top;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .decoration-iron-Man {
    position: absolute;
    top: -210px;
    right: -365px;
    z-index: -1;

    animation-duration: 4s;
    animation-name: slide-bottom;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .decoration-spider-man {
    position: absolute;
    bottom: 73px;
    left: -386px;
    z-index: -1;
  }
}

.container {
  height: 100%;
  width: 100%;
}

.wrapper {
  max-width: 1140px;

  @include push--auto;
}

.char-content {
  display: flex;
  position: relative;
  z-index: 10;
}

@keyframes slide-top {
  from {
    top: 10px;
  }

  to {
    top: -150px;
  }
}

@keyframes slide-bottom {
  from {
    top: -210px;
    right: -365px;
  }

  to {
    top: -160px;
    right: -195px;
  }
}
