@import '../../style/variables.scss';

.CharInfo {
  flex: 40%;
  height: 100%;
  max-width: 425px;
  padding: 25px;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  background: linear-gradient(
    180deg,
    rgba(25, 25, 25, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 7%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 10;
  position: relative;
}

.char-info {
  display: flex;
  &__img {
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.04);
    }
  }

  .char-info-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 25px;

    &__title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      color: #fff;
      text-transform: uppercase;
    }
    &__link {
      position: absolute;
      bottom: 32%;
      left: 0;
    }

    &__link:last-child {
      bottom: 0;
    }
  }
}

.char-info-desc {
  border-top: 10px solid #000;
  border-right: 10px solid #000;
  margin-top: 35px;
  padding: 5px;
  background: #3d3d3d;
  border-radius: 10px;
  box-shadow: 12px -6px 18px rgba(0, 0, 0, 0.55);
  &__paragraph {
    text-align: justify;
    color: #e8e8e8;
  }
}
.char-info-comics {
  margin-top: 20px;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  .comics-list {
    margin-top: 10px;

    &__item {
      list-style: none;
      background: #3d3d3d;
      color: #fff;
      box-shadow: 12px -6px 18px rgba(0, 0, 0, 0.55);
      border-top: 6px solid #000;
      border-right: 6px solid #000;
      padding: 5px 5px 5px 10px;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }
}
